
<!-- Auto refresh of page set to content="X" seconds
<!-- <head>-->
  <!--<meta http-equiv="refresh" content="3">-->
<!--</head> -->

<div class="container">
  <div class="row">
    <h3 class="text-center">CoinBase</h3>
    

    
    
<!--    <div class="col-md-6">-->
<!--      <div class="well">-->
<!--      <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script> <div class="coinmarketcap-currency-widget" data-currency="bitcoin" data-base="EUR" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="EUR" data-statsticker="false"></div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-6">-->
<!--      <div class="well">-->
<!--        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currency="litecoin" data-base="EUR" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="EUR" data-statsticker="false"></div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-6">-->
<!--      <div class="well">-->
<!--        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currency="ethereum" data-base="EUR" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="EUR" data-statsticker="true"></div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-6">-->
<!--      <div class="well">-->
<!--        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currency="monero" data-base="EUR" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="EUR" data-statsticker="true"></div>-->
<!--      </div>-->
<!--    </div>-->

  <div class="well text-center col-md-3">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
    


    <div class="btn-group">
    <button type="button" class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown">
        Select Business type <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">small</a></li>
        <li><a href="#">medium</a></li>
        <li><a href="#">large</a></li>
    </ul>
</div>

<script>
  $('.dropdown-menu a').on('click', function(){$('.dropdown-toggle').html($(this).html() + '<span class="caret"></span>');})
</script>

        
    <!--<div class="col-md-3">-->
    <!--  <div class="well">-->
    <!--    <h5 class="text-center">LiteCoin</h5>-->
    <!--  </div>-->
    <!--</div>-->
    
    <!--<div class="col-md-3">-->
    <!--  <div class="well">-->
    <!--    <h5 class="text-center">Ethereum</h5>-->
    <!--  </div>-->
    <!--</div>-->
    
    <!--<div class="col-md-3">-->
    <!--  <div class="well">-->
    <!--    <h5 class="text-center">Monero</h5>-->
    <!--  </div>-->
    <!--</div>-->


  </div>
</div>